  <header>
	<div class="row">
		<div class="medium-12 columns">
      <ul>
        <li>
          <h1>Hey</h1>
        </li>
      </ul>
      <ul>
  <li>
    <a href="#" >
      <div class="icons">
            <i class="fas fa-calendar-alt"></i>
  
      </div>
      <div class="name" data-text="Calender">Calender</div>
    </a>
  </li>
  <li>
    <a href="#" >
      <div class="icons">
        <i class="fas fa-user-plus"></i>
 
      </div>
      <div class="name" data-text="Add CM">Add CM</div>
    </a>
  </li>
  <li>
    <a href="#" >
      <div class="icons">
          <i class="fas fa-file-export"></i>
      </div>
      <div class="name" data-text="Export">Export</div>
    </a>
  </li>
  <li>
    <a href="#" >
      <div class="icons">
        <i class="fas fa-print"></i>
      </div>
      <div class="name" data-text="Print">Print</div>
    </a>
  </li>
  <li>
    <a href="#" >
      <div class="icons">
        <i class="fas fa-home"></i>
      </div>
      <div class="name" data-text="Home">Home</div>
    </a>
  </li>
</ul>
		</div>
	</div>
  </header> 
  {{!-- <div class="container fluid padding">
    <div class="raw welcome text-center">
      <div class="col-12">
        <h1>
          Welcome Darshan Doshi !
        </h1> 
      </div>
    </div> 
  </div> --}}
  
  

 

  

<!-- SearchBar-->
<div>
  <nav class="navbar navbar-light  justify-content-between">
  <a class="navbar-brand"></a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    
  </form>
</nav>
</div>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light NAVBAR">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ">
      <li class="nav-item ">
        <a class="nav-link" href="#">Create New CM</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Enter CM Metrics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">myEEM Metrics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Service Review</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#">Admin Panel</a>
      </li>
    </ul>
    
  </div>
  
</nav>
<!--ABBVIE SECTION --->
<section id="abvveieSection">
  <div class="container">
    <div class="row reviewSection">
        <div class="col-md-10">
          
          <h4>ABBVIE</h4>
          <p>DEPT GS02 BLDG APS </br>NORTH CHICAGO </br>USA</p>
        </div>
        <div class="col-md-2">
          <div>
            <p>MP:0000396234</br> Service Review:</p>
            
          </div>
        </div>
    </div>

  </div>
</section> 

<!-- Form 1 -->
<div class="container-fluid-padding">
    <div class="row CardBorders">
      
            <div class="col md-2 ">
                  <div class="card">
                          <div class="card-body">

                                 <label >CM Integration:</label></br>
 
                                  <label >Service Type:</label></br>
        
                                   <label >Vendor Type:</label></br>
       
                                  <label >Hub Oversight:</label></br>
        
                                 <label >Operation Leader:</label></br>
        
                                <label >JPT Leader:</label></br>
        
                              <label >Comments:</label></br>
        
                          </div>
                  </div>
          </div>
          <div class="col md-2 ">
                   <div class="card">
         
                         <div class="card-body">
                                  <label >Vendor Status:</label></br>

                                    <label >Supply Scope:</label></br>
        
                                   <label >Contract-Not-in-Place:</label></br>
       
                                 <label >Contract Expiration:</label></br>
        
                                      <label >Volume Commitment:</label></br>
        
                               <label >Comments:</label></br>
        
        
                          </div>
                    </div>
          </div>
          <div class="col md-2 ">
                    
                    <div class="card">
         
                          <div class="card-body">
                                        <label >Quality Risk:</label></br>

                                        <label >QTA-Not-in-Place:</label></br>
        
                                        <label >Initial QTA Signature Date:</label></br>
       
                                         <label >QTA Approval Date:</label></br>
        
                                          <label >QTA Review Date:</label></br>
        
                                        <label>Last GQA Audit:</label></br>
        
                                        <label >Availaible Certification:</label></br>
        
                                        <label >Quality Leader:</label></br>

                                        <label >Comments:</label></br>

                          </div>
                      </div>
            </div>
            <div class="col md-2 ">
                      <div class="card">
        
                          <div class="card-body">
                                                <label for="name">Technical Risk:</label></br>

                                          <label for="name">Manufacturing Technology:</label></br>
        
                                   <label for="name">Additional Serices:</label></br>
       
                                         <label for="name">Dosage Forms:</label></br>
        
                                          <label for="name">Production Scope:</label></br>
        
                                                 <label for="name">TS/MS Leader:</label></br>
        
                                              <label for="name">Additional COmments On CM Production & Services:</label></br>
        
        
                          </div>
                      </div>
              </div>
              <div class="col md-2 ">
                        <div class="card">
                                  <div class="card-body">
                                                   <label for="name">HSE Priority:</label></br>

                                               <label for="name">HSE Catagory:</label></br>
        
                                                <label for="name">Most Recent HSE Survey:</label></br>
       
                                                   <label for="name">Most Recent HSE Assesement:</label></br>
        
                                                <label for="name">Next Shceduled Assesement:</label></br>
        
                                             <label for="name">HSE Certification:</label></br>
        
                                            <label for="name">HSE Leader:</label></br>
        
    
                                  </div>

                         </div>
                </div>
      
    </div>
</div> 
    <!--Brands -->
<section id="BrandsSection">
  <div class="container">
    <div class="row Brand">
        <div class="col-md-12 Brandclor">
          <h6>BRANDS</h6>
        </div>  
        <div class="col-md-4 justify-content-center">
           <img src="https://www.javatpoint.com/images/nature-1.jpg" alt="image" style="width:150px;height:100px">  
        </div>  
        <div class="col-md-4">
           <img src="https://www.javatpoint.com/images/nature-1.jpg" alt="image" style="width:150px;height:100px">  
        </div> 
        <div class="col-md-4">
           <img src="https://www.javatpoint.com/images/nature-1.jpg" alt="image" style="width:150px;height:100px">  
        </div> 
    </div>
  </div>
</section>
<!-- Navbar With Icons -->





